.hr_line{padding-bottom:-10px;width:98%;border-bottom:1px solid #125d0d21;min-height:1px;margin:0 auto;}

.fa-viber { color:#8f5db7; }.fa-telegram { color:#0088CC;}

.utvjy_content{color:#3333338f}.utvjy_content strong,b{font-weight:normal}.utvjy_content A{color:#5f6b5bad}.utvjy_content A:visited{color:#303c2cad}.utvjy_content A:active{color:#303c2cad}


.journalist-broadcast-widget .journalist-broadcast-header-shadow {
   background-color: #76bd67 !important;
}
.journalist-broadcast.journalist-broadcast-widget {
border: 2px solid #46905221 !important;  
}
.journalist-broadcast-widget .journalist-broadcast-post-hot {
      border-bottom: 1px solid #a980 !important;
}
.journalist-broadcast-widget .journalist-broadcast-powered-by a {
    color: rgba(0,0,0,0) !important;
}
.journalist-broadcast-widget .journalist-broadcast-powered-by {
    color: rgba(0,0,0,0) !important;
}	
 

